<section class="section">
    <div class="container is-fluid">
      <div class="notification">
        <h2 class="title is-4">Archivos</h2>
        <table class="table">
          <thead>
            <tr>
              <th><abbr title="Position">Id</abbr></th>
              <th><abbr title="Played"> Archivo</abbr></th>
              <th><abbr title="Won">Estado</abbr></th>
            </tr>
          </thead>
          <tbody>
            <% @files.each do |csv| %>
              <tr>
                <th><%= csv.id %></th>
                <td><%= csv.file.filename %></td>
                <td><%= csv.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "Cargar Archivo", new_csv_path %>
      </div>
    </div>
</section>
