<section class="section">
  <div class="container is-fluid">
    <div class="notification">
      <h2 class="title is-4">Archivos</h2>
      <%= simple_form_for(@csv) do |f| %>
        <%= f.hidden_field :status, value: "En espera" %>
        <%= f.file_field :file %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</section>